html {
	font-size: 62.5%;
	background-image: url(../images/external-content1.duckduckgo.com);
	background-size: cover;
	display: grid;
}
body {
	display: grid;
	grid-template: 60vh 10vh 30vh / 30% 70%;
	grid-gap: 5px;
}
.gridcontainer1 {
	color: dodgerblue;
}
.gridbox1 {
	font-size: 5rem;
	justify-content: center;
	text-align: center;
	margin: 10px;
}
.gridbox2 {
	/* this text-align: center; centers my photo */
	text-align: center;
	margin-bottom: 75px;
	padding-bottom: 15%;
}
.gridcontainer3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.gridcontainer4 {
	background-image: url(../images/markus-spiske-8OyKWQgBsKQ-unsplash.jpg);
	overflow: hidden;
}
.gridbox3 {
	flex-direction: row;
	position: fixed;
	word-spacing: 2px;
	padding: 10px;
	background-image: url(../images/markus-spiske-8OyKWQgBsKQ-unsplash.jpg);
}
.gridcontainer5 {
	display: flex;
	flex-direction: column;
}
.gridbox5 {
	display: flex;
	border: 25px solid black;
	size: 100vw;
	flex-direction: start;
	justify-content: flex-end;
	flex-direction: column;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
}
h1 {
	font-size: 5rem;
	font-weight: bold;
	margin-top: 75px;
}
p,
ul {
	font-size: 4rem;
	text-align: center;
	margin-top: 2.5px;
	padding: 1em;
}
title {
	text-align: center;
}
.box {
	font-size: 4rem;
}
a {
	color: rgb(135, 213, 233);
}
a:hover {
	color: dodgerblue;
}
a:active {
	color: dodgerblue;
}
.ProfilePic {
	border-radius: 50%;
}
